html {
text-align:center;
background:url(bckground.jpg);
margin:auto;
}

.playarea {
background:url(background-for-juicy-seo.jpg);
border:#999 1px solid;
width:33%;
height:400px;
text-align:center;
border-radius:4px;
margin:0 auto;
padding:10px;
}

.disp {
background:url(Dp3Xq6o.jpg) no-repeat;
border:#000 1px solid;
width:20%;
height:20%;
float:left;
font-size:64px;
cursor:pointer;
text-align:center;
border-radius:4px;
color:navy;
margin:10px;
}
