html {
  text-align: center;
  background: url(bckground.jpg);
  margin: auto;
}

td {
  width: 80px;
  height: 80px;
  border: 4px solid black;
  border-radius: 5px;
  padding: 0.3%;
  text-align: center;
  margin: 2.5%;
  background: url(Dp3Xq6o.jpg) no-repeat;
  font-size: 200%;
  color: darkblue;
  font-weight: 500;
  font-family: century gothic;
}

table {
  background: url(background-for-juicy-seo.jpg);
  margin: auto;
  margin-top: 0.5%;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

p {
  font-size: 18px;
  text-align: center;
}
